html, body, body div, span, h1, h2, h3, h4, h5, h6, p, img, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td, footer, header, menu, nav, section {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font-weight: normal;
vertical-align: baseline;
background: transparent; }

footer, header, nav, section {
display: block; }

html {
box-sizing: border-box; }

*,
*:before,
*:after {
box-sizing: inherit; }

/* Responsive images */
img {
max-width: 100%; }

/* force a vertical scrollbar to prevent a jumpy page */
html {
overflow-y: scroll; }

ul {
list-style: none; }

a {
margin: 0;
padding: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent; }


/* tables still need cellspacing="0" in the markup */
table {
border-collapse: collapse;
border-spacing: 0; }

th {
font-weight: bold;
vertical-align: bottom; }

td {
font-weight: normal;
vertical-align: top; }

input, select {
vertical-align: middle; }

input[type="radio"] {
vertical-align: text-bottom; }

input[type="checkbox"] {
vertical-align: bottom; }

.ie7 input[type="checkbox"] {
vertical-align: baseline; }

.ie6 input {
vertical-align: text-bottom; }

select, input, textarea {
font: 99% sans-serif; }

table {
font-size: inherit;
font: 100%; }

td, td img {
vertical-align: top; }


/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
width: auto;
overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
-ms-interpolation-mode: bicubic; }

/* let's clear some floats */
.clearfix:before, .clearfix:after {
content: "\0020";
display: block;
height: 0;
overflow: hidden; }

.clearfix:after {
clear: both; }

.clearfix {
zoom: 1; }


/*
 MAIN
*/
html, body {
height: 100%;
color: #545B73;
background-image: url(../images/grey_light.png); }

html {
font: 16px "Fertigo",Sans Serif;
letter-spacing: 0.4px;
line-height: 1.5; }

input, button, select, textarea {
font: 16px "Fertigo",Sans Serif;
line-height: 1.5; }

body > img {
position: absolute; }

::-moz-selection {
background-color: #42A5F5;
color: #fff; }

::selection {
background-color: #42A5F5;
color: #fff; }

a, a:visited {
color: #474747; }

section {
background: #fff; }
section.grey {
border-top: 1px solid #EEE !important;
background-image: url(../images/grey_light.png) }

.dc_pure-content {
  background: url(../images/pattern.png) repeat scroll 0px 0px #E8E6D5;
}
.wrapp {
max-width: 1100px;
margin-left: auto;
margin-right: auto;
}
.wrapp:after {
content: " ";
display: block;
clear: both; }

footer .wrapp, section .wrapp {
padding-top: 30px;
padding-bottom: 30px; }

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0em 0px 0.5em;
font-weight: inherit;
color: #323745;
}
h1 {
font-size: 1.8em;
}
h2 {
font-size: 1.3em;
}


/*
 HEADER
*/
header {
position: fixed;
background: #FFFFFF;
top: 0;
left: 0;
height: 70px;
width: 100%;
z-index: 10;
border-bottom: 1px solid #E5E5E5;
opacity: 1; }
header .logo {
font-size: 1.6em;
height: 70px;
line-height: 63px;
float: left; }
header .logo > a {
display: block; }
header .logo img {
display: inline-block;
vertical-align: middle; }

header .region-header {
float: right;
}

@media screen and (max-width: 790px) {
  header {
  overflow-y: auto;
  max-height: 100%;
  height: auto; }
 }
 
 
/*
SEARCH
*/
.block-search{
padding-top: 30px;
}
.block-search input
{border: medium none;
height: 30px;
padding: 0px 10px;
line-height: 100%;
outline: 0px none;
max-width: 100%;
background-color: rgba(0, 0, 0, 0.05);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
border-radius: 3px;
-moz-appearance: none;
text-indent: 0.01px;
text-overflow: "";}
input[type="submit"]{
    color: #474747;
    background-image: none;
    padding: 0px 10px;
    height: 30px;
    cursor: pointer;
    white-space: nowrap;
    border-width: medium medium 2px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0.1);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px;
    display: inline-block;}
/*
 MENU
*/
#main-menu ul {
float:left;
padding:0;
margin:0;
list-style:none;
font-size: 1.1em;
letter-spacing: 1px;
font-family: "Fertigo",Sans Serif;
}
#main-menu li {
position:relative;
float:left;
padding:0;
margin:0;
line-height:40px;
font-weight:600;
}
#main-menu li li{
line-height:11px;
}
#main-menu ul li:first-child {
padding-left:0;
}
#main-menu a {
display:block;
padding:0 20px;
text-align:center;
text-decoration:none;
}
#main-menu a:hover,
#main-menu li > a.active {
text-decoration:none;
color: #ECAD20;
}
#main-menu li > a.active {
border-right: 1px solid #FFF;
border-left: 1px solid #fff;
}

nav#main-menu ul {
margin: 0;
padding: 2px;
padding-top: 29px;
list-style: none;
display: block;
float: right;
}
nav#main-menu li {
display: inline-block;
}
nav#main-menu ul li.active-trail ul li {
display:block;
}
nav#main-menu ul li.active-trail ul,
nav#main-menu ul li.active-trail ul li a{
padding: 0px;
word-wrap: break-word;
width: auto;
}


/*
SLIDER
*/
div#slider {
width: 95%;
max-width: 1100px;
margin: auto; } 
div#slider figure {
position: relative;
width: 500%;
margin: 0;
padding: 0;
font-size: 0;
text-align: left; }
div#slider figure img{
width: 20%;
height: auto;
float: left; }
div#slider {
width: 95%;
max-width: 1100px;
overflow: hidden; }

@keyframes slidy { 
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; } 
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; } 
}

div#slider figure {
position: relative;
width: 500%;
margin: 0;
padding: 0;
font-size: 0;
left: 0;
text-align: left;
animation: 30s slidy infinite; }


/*
USER MENU
*/
header .region-header div ul li a {
text-decoration: none;
}
header .region-header div ul li {
list-style-type: none;
list-style-image:none;
float: left;
}


/*
SIDEBAR
*/
.sidebar h2 {
margin: 0 0 0.5em;
border-bottom: 1px solid #d6d6d6;
padding-bottom: 5px;
font-size: 1.2em;
line-height: 1.2;
}
.sidebar tr.even,
.sidebar tr.odd {
border-bottom: 1px solid #d6d6d6;
}
.sidebar {
padding-top: 20px;
padding-bottom: 20px;
}
#sidebar-first {
width: 20%;
float: left;
}
#sidebar-first .section,
#sidebar-second .section {
padding: 6px;
}
#sidebar-first .block,
#sidebar-second .block {
padding-bottom: 15px;
}
#sidebar-first .content ul li,
#sidebar-second .content ul li {
list-style: none outside none;
}
#sidebar-second {
width: 20%;
float: right;
}

#content {
width: 60%;
float: left;
background-color: #fff;
min-height: 500px;
}
#content .section {
padding: 10px;
}


/*
RIBBONS
*/
.accordion h2
{
position: relative;
width: 100%;
font-weight: bold;
padding: 6px 20px 6px 70px;
margin: /*30px 10px 10px -70px*/20px 10px 10px -65px;
color: #fff!important;
background-color: #999;
-webkit-box-shadow: 0px 2px 4px #888;
-moz-box-shadow: 0px 2px 4px #888;
box-shadow: 0px 2px 4px #888;
left:30px
}
.accordion h2:after
{
content: ' ';
position: absolute;
width: 0;
height: 0;
left: 0px;
top: 100%;
border-width: 5px 10px;
border-style: solid;
border-color: #666 #666 transparent transparent;
}
.accordion h2:before {
content: ' ';
position: absolute;
width: 50px;
height: 0;
left: -30px;
top: 11px;
border-width: 20px 10px;
border-style: solid;
border-color: #999 #999 #999 transparent;
}


/*
ACCORDIONS
*/
.accordion .block{
border-radius: 3px;
-webkit-transition: background 300ms ease-in-out, color 300ms ease-in-out, box-shadow 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
-moz-transition: background 300ms ease-in-out, color 300ms ease-in-out, box-shadow 300ms ease-in-out, -moz-transform 300ms ease-in-out;
transition: background 300ms ease-in-out, color 300ms ease-in-out, box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
font-size: 15px/1.5;
margin-top: 15px;
padding: 15px;
cursor: pointer;
border-top: 1px solid #EEE !important;
background-image: url(../images/grey_light.png); }
div.wrapp .accordion {
margin: 0px 20px 0px 30px; }
.accordion .block:hover {
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
background: #fff;
color: inherit; }
.accordion .block h2 {
display: block;
font-weight: bold;
font-size: 1.2em; 
color: #1BB0BF; }
.accordion .content {
display: none;
margin-top: 10px; }
.accordion .content.show {
display: block; }

.no-js .accordion .block:hover .content {
display: block; }
 

/*
 FEATURED
*/
#featured .feature .block{
font-family: "Fertigo",Sans Serif;
width: 25%;
float: left;
padding: 20px;
text-align: center;
border-radius: 3px;
-webkit-transition: background 300ms ease-in-out, color 300ms ease-in-out, box-shadow 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
-moz-transition: background 300ms ease-in-out, color 300ms ease-in-out, box-shadow 300ms ease-in-out, -moz-transform 300ms ease-in-out;
transition: background 300ms ease-in-out, color 300ms ease-in-out, box-shadow 300ms ease-in-out, transform 300ms ease-in-out; }
@media screen and (max-width: 790px) {
 #featured .feature .block{
 width: 50%;
 float: left; } }
@media screen and (max-width: 550px) {
 #featured .feature .block{
 width: 100%;
 float: left;
 margin-left: 0;
 margin-right: 0; } }
#featured .feature .block:hover {
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
background: #fff;
color: #ECAD20; }
#featured .feature .block img {
max-width: 100px; }
#featured .feature .block h3 {
font-weight: bold;
font-size: 1.2em;
margin-top: 20px;
margin-bottom: 10px; }
#featured .feature img + h3 {
margin-top: 0; }


/*
 FOOTER
*/
.footer {
text-align: center; }
.footer a, .footer a:visited {
color: #1BB0BF; }
